/* Custom CSS style */

.nwo-std-padding {
  padding: 10px;
}

.nwo-std-errul li:last {
  margin-bottom: 10px;
}

.nwo-std-10pc {
  width: 10vw;
}

.nwo-std-5pc {
  width: 5vw;
}

.nwo-std-smf {
  font-size: 10px;
}

.nwo-std-name {
  /* */
}

input[type='number'] {
    -moz-appearance:textfield;
}
