/* Custom CSS style */

.nwo-std-padding {
  padding: 10px;
}

.nwo-std-errul li:last {
  margin-bottom: 10px;
}

.nwo-std-10pc {
  width: 15vw;
}

.nwo-std-5pc {
  width: 4vw;
}

.nwo-std-smf {
  font-size: 10px;
}

.nwo-std-name {
  /* */
}

input[type='number'] {
    -moz-appearance:textfield;
}

@media print {
  .nwo-ap-logo {
      display: inline-block;
      margin-right: 50px;
      width: 70px;
      height: 70px;
      float: left;
  }
  .nwo-ap-logo-side {
    display: inline-block;
    margin-top: 10px;
    float:left;
  }
  .nwo-clearfix {
    clear: both;
  }
}

.o-smf {
  font-size: 5px;
}

input[type="text"] {
  font-size: 10px !important;
  height: 100% !important;
  /*border: 1px solid blue !important;*/
  margin: 0 !important;
  color: blue !important;
  background-color: #fed;
  width: 100%;
}
/*
input[type="number"] {
  font-size: 10px !important;
  height: 100% !important;
  border: 1px solid green !important;
  margin: 0 !important;
  color: blue !important;
}
*/

.nwo-std-10pc {
  width: 15vw !important;
}
