/* Custom CSS style */

.nwo-std-padding {
  padding: 10px;
}

.nwo-std-errul li:last {
  margin-bottom: 10px;
}

.nwo-std-10pc {
  width: 10vw;
}

.nwo-std-5pc {
  width: 5vw;
}

.nwo-std-smf {
  font-size: 10px;
}

.nwo-std-name {
  /* */
}

input[type='number'] {
    -moz-appearance:textfield;
}

@media print {
  .nwo-ap-logo {
      display: inline-block;
      margin-right: 50px;
      width: 70px;
      height: 70px;
      float: left;
  }
  .nwo-ap-logo-side {
    display: inline-block;
    margin-top: 10px;
    float-left;
  }
  .nwo-clearfix {
    clear: both;
  }
}
